<!DOCTYPE html>
<html>
    <% include ../partials/header %>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
       <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
</head>
<body>
  <main class="page contact-page">
    <section class="portfolio-block contact">
        <div class="container">
            <div class="heading">
                <h2>로그인</h2>
            </div>
            <form action="/users/login" method="post">
                <div class="mb-3"><label class="form-label" for="idemail">아이디</label><input class="form-control item" type="text" name="idemail" required autofocus></div>
                <div class="mb-3"><label class="form-label" for="password">비밀번호</label><input class="form-control item" type="password" name="password" required></div>
                <div class="mb-3"><button class="btn btn-primary btn-lg d-block w-100" type="submit">로그인</button></div>
            </form>
        </div>
    </section>
</main>
</body>
</html>
