<% include ../partials/header %>
  <div class="container">
    <% if (users.length > 0) {%>
      <% users.forEach(user => {%>
        <form action="/users/<%= user._id %>?_method=PUT" method="post">
        <div class="card card-body mb-2">
          <div class="form-group">
            <input type="hidden" name="_method" value="PUT">
            <label for="title">이름</label>
            <input type="text" class="form-control" name="name" value="<%= user.name %>">
          </div>
          <div class="form-group">
            <input type="hidden" name="_method" value="PUT">
            <label for="title">전화번호</label>
            <input type="text" class="form-control" name="phone" value="<%= user.phone %>">
          </div>  
            <input type="submit" class="btn btn-danger btn-block" value="회원정보수정">
          </form>   
        </div>
      <% }); %>
    <% } else { %>
      <p>No video ideas listed!</p>
    <% } %>
  </div>
<% include ../partials/scripts %>
</body>
</html>
